/* App.css */

.App {
  text-align: center;
  background-color: #aaffaa; /*light green background for that gator spirit*/
  min-height: 100vh; /* i read that i should do this, not sure why yet*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* header with the title */
.App-header {
  background-color: #ff9900; /* orange background for that Gator Spirit*/
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow of the box to make it look cool*/
}

/* title */
h1 {
  color: #ffffff; /* text is white but idk maybe it should be another color*/
  font-size: 36px;
}

/* search bar */
.search-bar {
  display: flex;
  align-items: center;
}

/* search input */
input[type="text"] {
  padding: 10px;
  border: 2px solid #00aa00; /* green border for more of that gator spirit */
  border-radius: 5px;
  margin-right: 10px;
}

/* search button */
button {
  padding: 10px 20px;
  background-color: #00aa00; /* even more green bc gators are green */
  color: #ffffff; /* going with that text white theme*/
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Hover effect search button --> to make it stylish*/
button:hover {
  background-color: #009900; /* Darker green bc gator */
}

/* categories */
.categories {
  text-align: left; /* Align category buttons to the left */
  margin-top: 20px; /* Add space above the categories */
}

/* category buttons */
.categories button {
  margin: 10px 0; /* Add space around each button */
  padding: 10px 20px;
  background-color: #00aa00; /* Green (Guess Why) */
  color: #ffffff; /* White text theme for some reason */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Hover effect for the category buttons --> always gotta have that hover effect */
.categories button:hover {
  background-color: #009900; /* Darker green bc Gator */
}

/* Remove bullet points from the list bc they look bad */
.categories ul {
  list-style-type: none;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: orange;
}

.title {
  font-family: 'Pacifico', cursive;
  font-size: 48px;
  color: green;
  margin-bottom: 20px;
  text-align: center;
}

.advisor {
  color: orange;
}

.choice {
  display: flex;
  gap: 20px;
}

.login-button,
.signup-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover,
.signup-button:hover {
  background-color: darkgreen;
}


